<a href="https://colab.research.google.com/github/arda-aslan6028/Arda-Aslan-Stat112-Project/blob/main/Python_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd  # importing libraries
import numpy as np


df=pd.read_csv('usa_drugs_risk_dataset_dirty.csv') # reading the csv file in google colab
df.head() # observing the first 5 rows to detect intial mistakes

,Year,STATE,Age(yrs),gEnder,Education Level,employment-status,Income$,Stress Score,mentalHealthScore,Drug Type,drug_useFrequency,PeerInfluence,Family_History,exerciseDays,DrugAwarenessProgram,Risk_Index
0,2020.0,Utah,18.0,Male,College,Unemployed,"$76,319",58.7,40.2,NaN,0.0,5.2,Yes,6.0,NaN,0.295
1,2017.0,West Virginia,18.0,Male,HighSchool,Employed,"$63,336",54.3,42.5,Opioids,NaN,5.7,NO,6.0,NaN,0.253
2,2019.0,Oregon,26.0,Female,College,Unemployed,"$59,530",28.9,78.9,NaN,0.0,8.7,Yes,6.0,Some,0.203
3,2017.0,Idaho,44.0,Female,College,Employed,"$28,176",55.1,33.1,alcohol,16.0,6.3,No#,3.0,Extensive,0.345
4,2016.0,Louisiana,48.0,Female,College,Student,"$41,806",52.6,37.7,Alcohol,13.0,5.0,No,3.0,Some,0.285

In [47]:
df.shape # getting the row number and column number (1020 rows, 16 columns)

(1020, 16)

In [48]:
df.isna().sum()

Year                      9
STATE                    10
Age(yrs)                 14
gEnder                   10
Education Level          10
employment-status        13
Income$                   8
Stress Score              7
mentalHealthScore        10
Drug Type               404
drug_useFrequency        16
PeerInfluence             5
Family_History            8
exerciseDays              9
DrugAwarenessProgram    305
Risk_Index               11
dtype: int64

In [49]:
df.dtypes # Getting the data types in order to detect whether there are mistake in data type

Year                    float64
STATE                    object
Age(yrs)                float64
gEnder                   object
Education Level          object
employment-status        object
Income$                  object
Stress Score            float64
mentalHealthScore       float64
Drug Type                object
drug_useFrequency       float64
PeerInfluence           float64
Family_History           object
exerciseDays            float64
DrugAwarenessProgram     object
Risk_Index              float64
dtype: object

In [50]:
#fixing typos in column names and removing special characters in column names and making in title format for all column names
df=df.rename(columns={"STATE":"State","Age(yrs)":"Age","gEnder":"Gender","employment-status":"Employment Status","Income$":"Income","mentalHealthScore":"Mental Health Score","drug_useFrequency":"Drug Use Frequency","PeerInfluence":"Peer Influence","Family_History":"Family History","exerciseDays":"Exercise Days","DrugAwarenessProgram":"Drug Awareness Program","Risk_Index":"Risk Index"})
df.head()

,Year,State,Age,Gender,Education Level,Employment Status,Income,Stress Score,Mental Health Score,Drug Type,Drug Use Frequency,PeerInfluence,Family History,Exercise Days,Drug Awareness Program,Risk Index
0,2020.0,Utah,18.0,Male,College,Unemployed,"$76,319",58.7,40.2,NaN,0.0,5.2,Yes,6.0,NaN,0.295
1,2017.0,West Virginia,18.0,Male,HighSchool,Employed,"$63,336",54.3,42.5,Opioids,NaN,5.7,NO,6.0,NaN,0.253
2,2019.0,Oregon,26.0,Female,College,Unemployed,"$59,530",28.9,78.9,NaN,0.0,8.7,Yes,6.0,Some,0.203
3,2017.0,Idaho,44.0,Female,College,Employed,"$28,176",55.1,33.1,alcohol,16.0,6.3,No#,3.0,Extensive,0.345
4,2016.0,Louisiana,48.0,Female,College,Student,"$41,806",52.6,37.7,Alcohol,13.0,5.0,No,3.0,Some,0.285

In [51]:
df.columns #checking column names in order to be sure about whether there are any mistakes

Index(['Year ', 'State', 'Age', 'Gender', 'Education Level',
       'Employment Status', 'Income', 'Stress Score', 'Mental Health Score',
       'Drug Type', 'Drug Use Frequency', 'PeerInfluence ', 'Family History',
       'Exercise Days', 'Drug Awareness Program', 'Risk Index'],
      dtype='object')

In [52]:
df.columns = df.columns.str.strip() # an additional fix for Peer Influence since the first version of it does not contain a space between two words
df=df.rename(columns={"PeerInfluence":"Peer Influence"}) #renaming the peer influence column again
df.columns #observing the column names

Index(['Year', 'State', 'Age', 'Gender', 'Education Level',
       'Employment Status', 'Income', 'Stress Score', 'Mental Health Score',
       'Drug Type', 'Drug Use Frequency', 'Peer Influence', 'Family History',
       'Exercise Days', 'Drug Awareness Program', 'Risk Index'],
      dtype='object')

In [53]:
df[df.duplicated()] # observing the duplicate values

,Year,State,Age,Gender,Education Level,Employment Status,Income,Stress Score,Mental Health Score,Drug Type,Drug Use Frequency,Peer Influence,Family History,Exercise Days,Drug Awareness Program,Risk Index
1000,2018.0,Wisconsin,32.0,Female,Primary,Retired,"$59,697",57.3,51.5,NaN,0.0,4.0,Yes,1.0,NaN,0.316
1003,2018.0,Tennessee,38.0,Female,HighSchool,Employed,"$43,665",59.1,51.3,NaN,0.0,4.5,Yes,5.0,Extensive,0.283
1004,2019.0,Alaska,45.0,Male,Graduate,Employed,"$48,323",61.3,40.5,Cannabis,12.0,3.4,No,2.0,NaN,0.289
1008,2018.0,Nebraska,63.0,Female,HighSchool,Retired,"$45,836",66.5,20.0,NaN,0.0,4.7,No,7.0,Extensive,0.186
1010,2016.0,Michigan,19.0,Male,HighSchool,Employed,"$56,284",77.0,12.2,Cannabis,21.0,5.0,Yes,2.0,Extensive,0.619
1013,2019.0,Vermont,43.0,Male,College,Employed,"$80,222",80.7,24.0,NaN,0.0,6.8,No,5.0,Some,0.283
1017,2020.0,New Hampshire,26.0,Male,Primary,Employed,"$40,919",65.5,17.2,NaN,0.0,4.1,No,6.0,Some,0.188
1018,2016.0,Kansas,29.0,Male,HighSchool,Unemployed,"$36,749",77.5,30.9,NaN,0.0,2.9,No,5.0,Some,0.206
1019,2015.0,Arizona,22.0,Female,Primary,Retired,"$54,206",68.9,28.1,NaN,0.0,6.5,No,3.0,NaN,0.257

In [54]:
df=df.drop_duplicates() #removing the duplicate values and later on we checked the shape( row number , column number) again (1011 rows 16 columns)
df.shape

(1011, 16)

In [55]:

df['State']=df['State'].str.strip() #removing the leading and trailing space in values of State column
df['State']=df['State'].str.replace('#','',regex=False) #removing # character in values of State columns (regex=False for python to see the character as normal string)
df['State']=df['State'].str.replace('*','',regex=False) #removing * character in values of State columns (regex=False for python to see the character as normal string)
df['State']=df['State'].str.replace('$','',regex=False) #removing $ character in values of State columns (regex=False for python to see the character as normal string)
df['State']=df['State'].str.title() #making all values in State column in title format (arizona-->Arizona)
df['State']=df['State'].fillna(df['State'].mode()[0]) #filling na values of State column with mode of State column (there can be multiple modes so we take the first element of the modes)
df['State'].unique() #check the values whether they are unique after fixing

array(['Utah', 'West Virginia', 'Oregon', 'Idaho', 'Louisiana', 'Vermont',
       'Wyoming', 'California', 'New Mexico', 'Alaska', 'Florida', 'Ohio',
       'Missouri', 'Kansas', 'South Dakota', 'Virginia', 'Maryland',
       'Arkansas', 'New York', 'Rhode Island', 'Iowa', 'Connecticut',
       'Arizona', 'Delaware', 'New Hampshire', 'Alabama', 'Texas',
       'Massachusetts', 'North Dakota', 'North Carolina',
       'South Carolina', 'New Jersey', 'Kentucky', 'Pennsylvania',
       'Hawaii', 'Georgia', 'Illinois', 'Nevada', 'Tennessee', 'Nebraska',
       'Minnesota', 'Indiana', 'Mississippi', 'Maine', 'Oklahoma',
       'Montana', 'Colorado', 'Wisconsin', 'Michigan', 'Washington'],
      dtype=object)

In [56]:
df['Year']=df['Year'].fillna(df['Year'].mode()[0]) #filling missing values in year column with the first element of the modes of the year column
df['Year']=df['Year'].astype('Int64') #converting the data type of year column into Date --> 'Int64'
df['Year'] #viewing the new year column

0       2020
1       2017
2       2019
3       2017
4       2016
        ...
1011    2017
1012    2015
1014    2016
1015    2019
1016    2017
Name: Year, Length: 1011, dtype: Int64

In [57]:
df['Age']=df['Age'].fillna(df['Age'].median()) #filling missing values in age column with the median of the age column
df['Age']=df['Age'].astype(int) # converting the data type of the age column into integer
df['Age'] #viewing the new age column

0       18
1       18
2       26
3       44
4       48
        ..
1011    53
1012    56
1014    27
1015    44
1016    63
Name: Age, Length: 1011, dtype: int64

In [58]:
df['Gender']=df['Gender'].str.title() #making every entry in gender column as title format
df['Gender']=df['Gender'].str.strip() #eliminating the leading and trailing spaces of entries if there are any.
df['Gender']=df['Gender'].str.replace('#','',regex=False) #removing the '#' character in the entries if there are any
df['Gender']=df['Gender'].str.replace('*','',regex=False) #removing the '*' character in the entries if there are any
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])  #filling missing values of gender column with the first element of the modes of gender column
df['Gender'].unique() #checking the gender types whether there are any mistake.

array(['Male', 'Female'], dtype=object)

In [59]:
df['Education Level'].value_counts() #checking the counts for education level types so that we can detect the mistakes

Education Level
College        344
HighSchool     304
Graduate       185
Primary        102
 College         9
HIGHSCHOOL       7
graduate         6
College#         6
HighSchool#      5
college          5
*College         4
*Graduate        3
highschool       3
GRADUATE         2
 HighSchool      2
 Graduate        2
HighSchool       2
Primary          2
College          2
*HighSchool      2
Graduate#        1
 Primary         1
COLLEGE          1
*Primary         1
Name: count, dtype: int64

In [60]:
df['Education Level']=df['Education Level'].str.title() #making every entries' format into title
df['Education Level']=df['Education Level'].str.strip() #removing the leading and trailing spaces of entries if there are any
df['Education Level']=df['Education Level'].str.replace('#','',regex=False) #removing the '#' character in the entries if there are any
df['Education Level']=df['Education Level'].str.replace('*','',regex=False) #removing '*' character in the entries if there are any.
df['Education Level']=df['Education Level'].fillna(df['Education Level'].mode()[0]) #filling the missing values of education level column with the first element of the modes  of the education level column.
df['Education Level'].unique() #checking the education level column values

array(['College', 'Highschool', 'Graduate', 'Primary'], dtype=object)

In [61]:
df['Employment Status'].value_counts() # checking the counts of the employment status types

Employment Status
Employed       530
Unemployed     176
Student        153
Retired         75
Employed#        8
 Employed        7
EMPLOYED         7
Employed         5
employed         5
STUDENT          4
Student          4
*Employed        4
*Unemployed      2
*Retired         2
unemployed       2
RETIRED          2
Retired          2
UNEMPLOYED       2
Unemployed       1
Retired#         1
student          1
Unemployed#      1
Student#         1
 Retired         1
 Unemployed      1
*Student         1
Name: count, dtype: int64

In [62]:
df['Employment Status']=df['Employment Status'].str.title() #making the format of each entry in employment status column as title
df['Employment Status']=df['Employment Status'].str.strip() #removing the leading and trailing space in the entries if there are any
df['Employment Status']=df['Employment Status'].str.replace('#','',regex=False) #removing the '#' character in the entries if there are any
df['Employment Status']=df['Employment Status'].str.replace('*','',regex=False) #removing the '*' character in the entries if there are any
df['Employment Status']=df['Employment Status'].fillna(df['Employment Status'].mode()[0]) # filling missing values of employment status column with the first element of the modes of the employment status column
df['Employment Status'].unique() #checking the employment status types

array(['Unemployed', 'Employed', 'Student', 'Retired'], dtype=object)

In [63]:
df['Income'] = df['Income'].astype(str).str.replace(r'[\$,]', '', regex=True).astype(float) # firstly converting the type of Income column into string then later on we removed $  and ',' symbols lastly converted type into float
df['Income'] = df['Income'].fillna(df['Income'].median()) #filling the missing values of Income column with the median of the Income column
df['Income'] = df['Income'].astype(int) #converting the data type of Income column into integer
df['Income'].isnull().sum() #checking whether there are missing values Income column

np.int64(0)

In [64]:
df['Stress Score']=df['Stress Score'].fillna(df['Stress Score'].median()) #filling missing values of Stress Score column with median of that column
df['Stress Score'].isnull().sum() #checking count of the missing values in stress score column

np.int64(0)

In [65]:
df['Mental Health Score']=df['Mental Health Score'].fillna(df['Mental Health Score'].median())#filling missing values of Mental Health Score column with median of that column
df['Mental Health Score'].isnull().sum()#checking count of the missing values in mental health score column

np.int64(0)

In [66]:
df['Drug Type'].value_counts() #checking counts of drug types so that we can detect the typos

Drug Type
Alcohol        213
Cannabis       180
Opioids         96
Stimulants      49
*None           10
NONE             9
Alcohol#         7
None             5
none             4
*Alcohol         4
None#            4
 None            4
ALCOHOL          2
cannabis         2
CANNABIS         2
 Cannabis        2
Stimulants#      2
Opioids#         2
 Alcohol         2
*Opioids         2
Cannabis#        2
*Cannabis        1
STIMULANTS       1
alcohol          1
Stimulants       1
stimulants       1
Opioids          1
 Stimulants      1
 Opioids         1
opioids          1
OPIOIDS          1
Alcohol          1
Name: count, dtype: int64

In [67]:
df['Drug Type']=df['Drug Type'].str.strip() #removing the leading and the trailing spaces in drug type column if there are any
df['Drug Type']=df['Drug Type'].str.title() #making the format of each entry in drug type column as title
df['Drug Type']=df['Drug Type'].str.replace('#','',regex=False) #removing the '#' character in drug type column
df['Drug Type']=df['Drug Type'].str.replace('*','',regex=False) #removing the '*' character in drug type column
df['Drug Type']=df['Drug Type'].fillna(df['Drug Type'].mode()[0]) #filling  the missing values of drug type column with the first element of modes of drug type column
df['Drug Type'].unique() #checking the types of drugs  in final form.

array(['Alcohol', 'Opioids', 'None', 'Cannabis', 'Stimulants'],
      dtype=object)

In [68]:
df['Drug Use Frequency']=df['Drug Use Frequency'].fillna(df['Drug Use Frequency'].median()) #filling the missing values of drug use frequency column with the median of the drug use frequency column
df['Drug Use Frequency']=df['Drug Use Frequency'].astype(int) #converting the data type into integer
df['Drug Use Frequency'].isnull().sum() #checking the count of missing values in drug use frequency column

np.int64(0)

In [69]:

df['Peer Influence']=df['Peer Influence'].fillna(df['Peer Influence'].mean()) #filling the missing values of peer influence column with mean of the peer influence column
df['Peer Influence'].isnull().sum() #checking the count of missing values in peer influence column

np.int64(0)

In [70]:
df['Family History'].value_counts() #checking the counts of answer types in family history column

Family History
No      606
Yes     316
NO       12
No#      12
No       10
 No      10
*No       8
*Yes      8
 Yes      5
yes       5
no        4
YES       4
Yes       2
Yes#      1
Name: count, dtype: int64

In [71]:
df['Family History']=df['Family History'].str.strip() #removing the leading and trailing space in family history column
df['Family History']=df['Family History'].str.title() #making the format of each entry as title
df['Family History']=df['Family History'].str.replace('#','',regex=False) #removing the '#' character in family history column if there are any
df['Family History']=df['Family History'].str.replace('*','',regex=False) #removing the '*' character in family history column if there are any
df['Family History']=df['Family History'].fillna(df['Family History'].mode()[0]) #filling missing values in family history column with the first element of the modes of family history column
df['Family History'].unique() #checking the answer types of family history column

array(['Yes', 'No'], dtype=object)

In [72]:
df['Exercise Days']=df['Exercise Days'].fillna(df['Exercise Days'].median()) #filling the missing values of exercise days column with the median of that column
df['Exercise Days']=df['Exercise Days'].astype(int) #converting the dta type of the exercise days column into integer
df['Exercise Days'].isnull().sum() #checking the count of missing values in exercise days column

np.int64(0)

In [73]:
df['Drug Awareness Program'].value_counts() #checking the answer types in drug awareness program column

Drug Awareness Program
Some          421
Extensive     205
Some            9
None            7
*Some           7
Some#           7
 None           6
some            6
SOME            6
 Extensive      6
 Some           5
*None           4
none            4
None#           3
Extensive#      3
*Extensive      3
EXTENSIVE       2
Extensive       2
extensive       2
NONE            1
Name: count, dtype: int64

In [74]:
df['Drug Awareness Program']=df['Drug Awareness Program'].str.title() #making the format of each entry in drug awareness column as title
df['Drug Awareness Program']=df['Drug Awareness Program'].str.strip() #removing the leading and trailing space in each entry of drug awareness column if there are any
df['Drug Awareness Program']=df['Drug Awareness Program'].str.replace('#','',regex=False) #removing the '#' character in the entries of drug awareness column if there are any
df['Drug Awareness Program']=df['Drug Awareness Program'].str.replace('*','',regex=False) #removing the '*' character in the entries of drug awareness column if there are any
df['Drug Awareness Program']=df['Drug Awareness Program'].fillna(df['Drug Awareness Program'].mode()[0]) #filling the missing values of drug awareness column with first element of the modes of drug awareness program column
df['Drug Awareness Program'].unique() # checking the answer types of drug awareness column

array(['Some', 'Extensive', 'None'], dtype=object)

In [75]:
df['Risk Index']=df['Risk Index'].fillna(df['Risk Index'].mean()) #filling the missing values of risk index column with the mean of the risk index column
df['Risk Index'].isnull().sum() #checking the count of missing values

np.int64(0)

In [76]:
df.head() # having a final look for the head of adjusted dataset

,Year,State,Age,Gender,Education Level,Employment Status,Income,Stress Score,Mental Health Score,Drug Type,Drug Use Frequency,Peer Influence,Family History,Exercise Days,Drug Awareness Program,Risk Index
0,2020,Utah,18,Male,College,Unemployed,76319,58.7,40.2,Alcohol,0,5.2,Yes,6,Some,0.295
1,2017,West Virginia,18,Male,Highschool,Employed,63336,54.3,42.5,Opioids,11,5.7,No,6,Some,0.253
2,2019,Oregon,26,Female,College,Unemployed,59530,28.9,78.9,Alcohol,0,8.7,Yes,6,Some,0.203
3,2017,Idaho,44,Female,College,Employed,28176,55.1,33.1,Alcohol,16,6.3,No,3,Extensive,0.345
4,2016,Louisiana,48,Female,College,Student,41806,52.6,37.7,Alcohol,13,5.0,No,3,Some,0.285

In [77]:
df.isnull().sum() # checking counts of missing values for each column in the final form of dataset

Year                      0
State                     0
Age                       0
Gender                    0
Education Level           0
Employment Status         0
Income                    0
Stress Score              0
Mental Health Score       0
Drug Type                 0
Drug Use Frequency        0
Peer Influence            0
Family History            0
Exercise Days             0
Drug Awareness Program    0
Risk Index                0
dtype: int64

In [78]:
df.describe() # checking statistical summary of the final data set so that we can detect some logical mistakes

,Year,Age,Income,Stress Score,Mental Health Score,Drug Use Frequency,Peer Influence,Exercise Days,Risk Index
count,1011.0,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000,1011.000000
mean,2017.472799,44.025717,52493.370920,57.964886,41.566271,8.732938,4.983101,3.018793,0.307791
std,1.704973,15.134360,14070.955886,13.995484,16.004829,7.949961,2.064234,1.677647,0.130698
min,2015.0,18.000000,12216.000000,15.300000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.0,31.000000,42927.500000,48.200000,31.150000,0.000000,3.550000,2.000000,0.217000
50%,2018.0,44.000000,52924.000000,58.100000,40.500000,11.000000,5.000000,3.000000,0.301000
75%,2019.0,57.000000,61822.000000,67.300000,52.950000,16.000000,6.300000,4.000000,0.389500
max,2020.0,70.000000,94752.000000,99.600000,100.000000,28.000000,10.000000,7.000000,0.757000

In [79]:
df.loc[df['Risk Index'] == 0, 'Drug Use Frequency'] = 0 #changing the drug use frequency values as 0 for the observations which have a value of 0 for the risk index
df.loc[df['Risk Index'] == 0, 'Drug Type'] = 'None' #changing the drug type entries as None for the observations which have a value of 0 for the risk index

In [80]:
df[df['Risk Index']==0] #viewing the observations which have a value of risk index 0

,Year,State,Age,Gender,Education Level,Employment Status,Income,Stress Score,Mental Health Score,Drug Type,Drug Use Frequency,Peer Influence,Family History,Exercise Days,Drug Awareness Program,Risk Index
655,2019,Tennessee,21,Male,College,Employed,70445,24.5,74.3,None,0,0.2,No,3,Some,0.0
937,2019,Texas,62,Female,Highschool,Employed,32713,26.9,68.4,None,0,0.2,No,4,Some,0.0
964,2019,Ohio,50,Male,College,Employed,42422,16.4,86.3,None,0,1.8,No,4,Some,0.0

In [81]:
df.to_csv('final data set4.csv',index=False) # saving the cleaned dataset as 'final data set2.csv'